[Unit]
After=etcd-amb-postgresql.service

[Service]
# docker register uses the following : MACH PORT SERV
# The client side can then use SERV to find this MACH's PORT's
ExecStart=/usr/bin/docker run --link etcd-amb-postgresql.service:etcd --volume /var/run/docker.sock:/var/run/docker.sock --rm polvi/docker-register postgresql-%i 5432 postgresql-ports
# Create an entry for the postgresql credentials
ExecStartPost=/bin/sh -c "PASSWORD=`openssl rand -base64 42`;etcdctl set /services/postgresql-credentials/postgresql-%i '{ \"username\": \"super\", \"password\": \"'$PASSWORD'\"}'" 

[X-Fleet]
X-ConditionMachineOf=postgresql.service
